<!-- Admin Page -->
#{extends 'main.html' /}
#{set title:'Search' /}

<h1>Admin Page</h1>

<p>
	<label>Flight No:</label>
    <input type="text" id="flight_no" size="10">
    <label>Airline:</label>
    <input type="text" id="airline" size="10">
    <label>Departure City:</label>
    <input type="text" id="dep_city" size="10">
    <label>Arrival City:</label>
    <input type="text" id="arrv_city" size="10">
    <label>Departure Date:</label>
    <input type="text" size="10" id="dep_date" value="${flight?.dep_date?.format('yyyy-MM-dd')}">
    <label>Arrival Date:</label>
    <input type="text" size="10" id="arrv_date" value="${flight?.arrv_date?.format('yyyy-MM-dd')}">
    <input type="submit" id="submit" value=" Flights">   
</p>

