#{extends 'main.html' /}
#{set title:'Confirmation' /}

<h1>Confirm flight booking</h1>

#{form @confirmBooking(flight.id)}
     <p>
        <strong>Flight#:</strong> ${flight.flight_no}
    </p>
    <p>
        <strong>Airline:</strong> ${flight.airline}
    </p>
    <p>
        <strong>Departure City:</strong> ${flight.dep_city}
    </p>
    <p>
        <strong>Arrival City:</strong> ${flight.arrv_city}
    </p>
    <p>
        <strong>Departure Date:</strong> ${flight.dep_date}
    </p>
    <p>
        <strong>Departure Time:</strong> ${flight.dep_time}
    </p>
    <p>
        <strong>Arrival Date:</strong> ${flight.arrv_date}
    </p>
    <p>
        <strong>Arrival Time:</strong> ${flight.arrv_time}
    </p>
    <p>
        <strong>Price:</strong> $${flight.price}
    </p>
    
    <p>
        <strong>Credit card #:</strong> ${booking.creditCard}
        <input type="hidden" name="booking.creditCard" value="${booking.creditCard}">
        <input type="hidden" name="booking.creditCardName" value="${booking.creditCardName}">
        <input type="hidden" name="booking.creditCardExpiryMonth" value="${booking.creditCardExpiryMonth}">
        <input type="hidden" name="booking.creditCardExpiryYear" value="${booking.creditCardExpiryYear}">
    </p>
    
    <p class="buttons">
        <input type="submit" value="Confirm" name="confirm"> <input type="submit" value="Revise" name="revise"> <a href="@{show(flight.id)}">Cancel</a>    
    </p>
#{/form}
