#{extends 'main.html' /}
#{set title:'Search' /}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/ui-lightness/jquery-ui-1.7.2.custom.css'}" />
#{/set}


<h1>Search Flights</h1>

<div>
    <label for="dep_city">From:</label>
    <input type="text" id="dep_city" size="10">
</div>
<span>
    <label for="arrv_city">To:</label>
    <input type="text" id="arrv_city" size="10">
</span>
<div>
    <label for="dep_date">Departure Date:</label>
    <input type="text" size="10" id="dep_date" class="datepicker" value="${flight?.dep_date?.format('yyyy-MM-dd')}">
</div>
<div>
    <input type="submit" id="submit" value="Find Flights">
</div>

    <br>

    Maximum results: 
    <select id="size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</p>


<div id="result">
</div>

<script type="text/javascript" charset="utf-8">

    // Rebuild state
    sessvars.dep_city = $('#dep_city').val()
    sessvars.arrv_city = $('#arrv_city').val()
    sessvars.dep_date = $('#dep_date').val()

    if(sessvars.page == undefined) {
        sessvars.page = 1
    }
    if(sessvars.size == undefined) {
        sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')
    
    // Search function
    var search = function() {
        sessvars.dep_city = $('#dep_city').val()
        sessvars.arrv_city = $('#arrv_city').val()
        sessvars.dep_date = $('#dep_date').val()
        sessvars.size = $('#size').val()
        var listAction = #{jsAction @list(':dep_city', ':arrv_city', ':dep_date', ':size', ':page') /} 
        $('#result').load(listAction({dep_city: sessvars.dep_city, arrv_city: sessvars.arrv_city, dep_date: sessvars.dep_date, size: sessvars.size, page: sessvars.page}), function() {
            $('#content').css('visibility', 'visible')
        })
    }
    
    // Events handler
    $('#submit').click(function() {
        sessvars.page = 1
        search()
    })
    $('#search').keyup(function() {
        sessvars.page = 1
        search()
    })
    $('#nextPage').live('click', function(e) {
        sessvars.page = $(this).attr('href')
        e.preventDefault()
        search()        
    })
    
    // Initial state
    if(sessvars.search != undefined) {
        $('#content').css('visibility', 'hidden')
        search()
    }
    
</script>


<!-- Show all bookings made by the user so far  -->
<h1>Current Flight Bookings</h1>

#{ifnot bookings}
    <p>
        No Bookings Found
    </p>
#{/ifnot}
#{else}
   <table>
       <thead>
           <tr>
               <th>Flight#</th>
               <th>Airline</th>
               <th>Departure City</th>
               <th>Arrival City</th>
               <th>Departure Date</th>
               <th>Arrival Date</th>
               <th>Confirmation#</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
           #{list bookings, as:'booking'}
               <tr>
                   <td>${booking.flight.flight_no}</td>
                   <td>${booking.flight.airline}</td>
                   <td>${booking.flight.dep_city}</td>
                   <td>${booking.flight.arrv_city}</td>

                   <!-- TODO: add time format -->
                   <td>${booking.flight.dep_date.format('yyyy-MM-dd')}, ${booking.flight.dep_time}</td>
                   <td>${booking.flight.arrv_date.format('yyyy-MM-dd')}, ${booking.flight.arrv_time}</td>
                   <td>${booking.id}</td>
                   <td>
                        #{a @cancelBooking(booking.id)}Cancel#{/a}
                   </td>
               </tr>
           #{/list}
       </tbody>
   </table> 
#{/else}

<script type="text/javascript" charset="utf-8">
    $(function() {
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>