#{if flights}
    <table>
        <thead>
            <tr>
                <th>Price</th>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th width="13%">Action</th>
            </tr>
        </thead>
        <tbody>
            #{list flights, as:'flight'}
                <tr>
                    <td>${flight.price}</td>
                    <td>${flight.airline}</td>
                    <td>${flight.dep_city}</td>
                    <td>${flight.arrv_city}</td>
                    <td>${flight.dep_date}, ${flight.dep_time}</td>
                    <td>${flight.arrv_date}, ${flight.arrv_time}</td>
                    <td>
                        <a href="@{show(flight.id)}">View Flight</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    <p>
        <a id="nextPage" href="${page+1}">More results</a>
    </p>
#{/if}

#{else}
    <p>
        No more results
    </p>
#{/else}      