#{extends 'main.html' /}
#{set title:'View page' /}

<h1>View flight</h1>

#{form @book(flight.id)}
    <p>
        <strong>Price:</strong> $${flight.price}
    </p>
    <p>
        <strong>Airline:</strong> ${flight.airline}
    </p>
    <p>
        <strong>Departure City:</strong> ${flight.dep_city}
    </p>
    <p>
        <strong>Arrival City:</strong> ${flight.arrv_city}
    </p>
    <p>
        <strong>Departure Date:</strong> ${flight.dep_date}
    </p>
    <p>
        <strong>Departure Time:</strong> ${flight.dep_time}
    </p>
    <p>
        <strong>Arrival Date:</strong> ${flight.arrv_date}
    </p>
    <p>
        <strong>Arrival Time:</strong> ${flight.arrv_time}
    </p>

    <!-- TODO: Get flight duration -->
    
    <p class="buttons">
        <input type="submit" value="Book Flight"> <a href="@{index()}">Back to search</a>      
    </p>
#{/form}